/*font-family: "League Spartan", sans-serif;*/

* {
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
     border: 0px;
}

a {
     text-decoration: none;
}

img {}

.firstpage {
     max-width: 1440px;
     height: 100%;
     margin-inline: auto;
     background-image: url(/img/rectangle1.svg);
}

.main {
     display: flex;
}

.model1 {
     max-width: 135px;
     height: 32px;
     color: #161515;
     font-family: "League Spartan", sans-serif;
     font-size: 24px;
     font-weight: 300;
     line-height: 186%;
     margin: 100px 524px 53px 133px;

}

.tittle {
     display: flex;
     align-items: center;
     min-width: 888px;
     height: 215px;
     color: #272727;
     font-family: "League Spartan", sans-serif;
     font-size: 250px;
     font-weight: 300;

     margin-left: 133px;
     margin-bottom: 43px;

}

.description1 {
     max-width: 575px;
     color: #161515;
     font-family: "League Spartan", sans-serif;
     font-size: 32px;
     font-weight: 300;
     line-height: 155%;

     height: 142px;
     margin-right: 82px;
     margin-bottom: 61px;
     margin-left: 135px;
}

.image1 {
     max-width: 408px;
     height: 720px;
     flex-shrink: 0;

     position: relative;
     right: 240px;
}

.btn {
     display: flex;
     position: relative;


     margin-left: 135px;
     margin-bottom: 211px;
}

.buy {
     width: 278px;
     height: 82px;
     flex-shrink: 0;
     background: #161515;

     color: #FFF;
     font-family: "League Spartan", sans-serif;
     font-size: 32px;
     font-weight: 300;

     padding: 26px 74px 35px 73px;
}

.price {
     width: 143px;
     height: 82px;
     flex-shrink: 0;
     background: #FFF;
     box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);

     color: #272727;
     text-align: center;
     font-family: "League Spartan", sans-serif;
     font-size: 32px;
     font-weight: 300;
     line-height: 186%;

     padding: 13px 27px 31px 28px;
}

.container {}

.greywatch {
     max-width: 1440px;
     margin: auto;
     margin-bottom: 85px;
}

.popular {
     max-width: 171px;
     margin: auto;

     color: #000;
     text-align: center;
     font-family: "League Spartan", sans-serif;
     font-size: 24px;
     font-weight: 300;
     line-height: 186%;
}

.model {
     max-width: 285px;
     margin: auto;
     margin-bottom: 84px;

     color: #000;
     text-align: center;
     font-family: "League Spartan", sans-serif;
     font-size: 72px;
     font-weight: 400;
     line-height: 112.5%;
}

.image2 {
     display: flex;
     margin: auto;
     margin-bottom: 67px;

     max-width: 417px;
     height: 630px;
     background-image: url(img/rectangle2.svg);
}

.name_description2 {
     max-width: 285px;
     margin: auto;
     margin-bottom: 17px;

     color: #000;
     text-align: center;
     font-family: "League Spartan", sans-serif;
     font-size: 32px;
     font-weight: 400;
}

.description2 {
     max-width: 532px;
     margin: auto;

     color: #161515;
     text-align: center;
     font-family: "League Spartan", sans-serif;
     font-size: 32px;
     font-weight: 300;
     line-height: 155%;
}